<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админка - Пользователи</title>
</head>
<body>
<h1>Пользователи</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Роли</th>
        <th>Действия</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.roles.contains(T(com.aufsell.Lab1.model.Role).ROLE_ADMIN) ? 'Admin' : 'User'}"></td>
        <td>
            <form th:action="@{/admin/changerole/{id}(id=${user.id})}" method="post">
                <button type="submit">Изменить роль</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>