<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить Транспортное Средство</title>
</head>
<body>
<h1>Добавить Транспортное Средство</h1>

<form th:action="@{/new}" th:object="${vehicle}" th:method="post">
    <label th:for="name">Название:</label>
    <input type="text" th:field="*{name}" placeholder="Введите название" />

    <label th:for="enginePower">Мощность двигателя:</label>
    <input type="number" th:field="*{enginePower}" placeholder="Введите мощность" />

    <label th:for="coordinates">Координаты:</label>
    <select th:field="*{coordinates.id}">
        <option value="" disabled selected>Выберите координаты</option>
        <option th:each="coord : ${coordinates}" th:value="${coord.id}"
                th:text="${coord.x} + ' ' + ${coord.y}"></option>
    </select>
    <span>или</span>
    <div>
        <label for="x">X:</label>
        <input type="number" step="any" name="x" id="x" placeholder="Введите X" />

        <label for="y">Y:</label>
        <input type="number" step="any" name="y" id="y" placeholder="Введите Y" />
    </div>

    <label th:for="vehicleType">Тип Транспортного Средства:</label>
    <select th:field="*{vehicleType.id}">
        <option value="" disabled selected>Выберите тип</option>
        <option th:each="type : ${vehicleTypes}" th:value="${type.id}" th:text="${type.name}"></option>
    </select>

    <label th:for="numberOfWheels">Количество Колес:</label>
    <input type="number" th:field="*{numberOfWheels}" placeholder="Введите количество колес" />

    <label th:for="capacity">Вместимость:</label>
    <input type="number" th:field="*{capacity}" placeholder="Введите вместимость" />

    <label th:for="distanceTravelled">Пробег:</label>
    <input type="number" th:field="*{distanceTravelled}" placeholder="Введите пробег" />

    <label th:for="fuelConsumption">Расход Топлива:</label>
    <input type="number" th:field="*{fuelConsumption}" placeholder="Введите расход топлива" />

    <label th:for="fuelType">Тип Топлива:</label>
    <select th:field="*{fuelType.id}">
        <option value="" disabled selected>Выберите тип топлива</option>
        <option th:each="fuel : ${fuelTypes}" th:value="${fuel.id}" th:text="${fuel.name}"></option>
    </select>

    <button type="submit">Добавить</button>
</form>

<a th:href="@{/collections}">Назад к списку</a>
</body>
</html>
